@font-face {
    font-family: 'Noto Mono';
    src: url("noto-mono.ttf") format("truetype");
}


body {
    font-family: 'Noto Mono';
    background: #fafafa;
}

p {
    font-family: 'Noto Mono', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus,
form,
form:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #7386D5;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a , #sidebar ul li form{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #7386D5;
}

#sidebar ul li form:hover {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    background: #6d7fcc;

}

ul ul [active="true"] {
    background: #fff !important;
    color: #7386D5 !important;
}

ul.CTAs {
    padding: 10px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.start {
    background: #fff !important;
    color: #7386D5 !important;
}


a.shuffle,
a.shuffle:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 30px;
    min-height: 100vh;
    transition: all 0.3s;
}

#meta-content{
    width: 100%;
    position: fixed;
    transition: all 0.3s;

    top: 0;
    left: 0;
    z-index: -1;
    padding-left: 250px;
    width: 100%;
    height: 8%;
}

#meta-content .table{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}


#meta-content .table .row{
  display: table-row;
  background: #f6f6f6;
}

#meta-content .table .header{
  font-weight: 900;
  color: #ffffff;
  background: #7386D5;
}

#meta-content .table .row .cell{
  padding: 6px 12px;
  display: table-cell;
  text-align: center;
  /* border: 0.1px solid rgb(70, 70, 70); */


}

#meta-content .table .row .g{
    background: #dfd;
}

#meta-content .table .row .n{
    background: #ffd;
}

#meta-content .table .row .b{
    background: #fdd;
}



.chartHTML div{
	font-size: 12px;
	background: brown;
	color:white;
	text-align: center;
	margin:0.1%;
	transition: 0.1s;
	width: 3%;
	height: 0px;
	display: inline-block;
	opacity: 0.8;
	border: 0px solid brown;
}

.chartHTML {
    transition: 0.1s;
    text-align: center;
    justify-content: center;
    display: flex;
	align-items: flex-end;
	height: 50vh;
}

.half{
	display: inline-block;
	width: 49%
}

.chartSVG rect{
	fill: blue
}


.chartSVG rect:hover{
	fill: orange
}

.chartSvg text{
	fill: white;
	text-anchor:end;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #meta-content {
        margin-left: -250px;
        width: 100%;
    }
}
